<!doctype html>
<html lang="en" ng-app="eventsApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/app.css" />
        <title>Cache Sample</title>
    </head>
    <body>
        <div class="container">
            <div ng-controller="CacheSampleController" style="padding: 20px;">

                key: <input type="text" ng-model="key" /><br />
                value: <input type="text" ng-model="value" /><br />
                <button type="button" class="btn" ng-click="addToCache(key, value)">Add To Cache</button>
                <br />
                <br />
                <input type="text" ng-model="keyToRead" /><br />
                <h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
                <h3>Cache stats: {{getCacheStats()}}</h3>


            </div>
        </div>

        <script src="./lib/jquery.min.js"></script>
        <script src="./lib/angular/angular.js"></script>
        <script src="./lib/angular/angular-resource.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controllers/CacheSampleController.js"></script>
        <script src="./lib/bootstrap.min.js"></script>

    </body>
</html>